# Module 1 Homework
## Question 1. Knowing docker tags

Run the command to get information on Docker 

```docker --help```

Now run the command to get help on the "docker build" command:

```docker build --help```

Do the same for "docker run".

Which tag has the following text? - *Automatically remove the container when it exits* 

- `--delete`
- `--rc`
- `--rmc`
- `--rm`

In [7]:
!docker run --help | grep 'Automatically remove'

      --rm                             Automatically remove the container

## Question 2. Understanding docker first run 

Run docker with the python:3.9 image in an interactive mode and the entrypoint of bash.
Now check the python modules that are installed ( use ```pip list``` ). 

What is version of the package *wheel* ?

- 0.42.0
- 1.0.0
- 23.0.1
- 58.1.0

In [11]:
!docker run -it  --rm --entrypoint bash python:3.9

root@051686de25b5:/# ^C

root@051686de25b5:/#

`pip show wheel | grep Version`  
Version: 0.42.0

# Prepare Postgres

Run Postgres and load data as shown in the videos
We'll use the green taxi trips from September 2019:

```wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz```

You will also need the dataset with zones:

```wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv```

Download this data and put it into Postgres (with jupyter notebooks or with a pipeline)

In [ ]:
! docker compose up -d

In [18]:
! ./ingest_data.sh

File ‘output.csv.gz’ already there; not retrieving.
--2024-01-29 10:58:19--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.98.70, 16.182.106.192, 16.182.98.208, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.98.70|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘zone_lookup.csv’

zone_lookup.csv     100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-29 10:58:20 (35.0 MB/s) - ‘zone_lookup.csv’ saved [12322/12322]

inserted another chunk, took 4.437 second
inserted another chunk, took 4.413 second
/Users/alexlitvinov/Documents/projects/data-engineering-zoomcamp-alex/homeworks/HW-1/ingest_data.py:53: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)
inserted another chunk, took 4.545 second
inserted another chunk, took 1.919 second
Finished ingesting data into the postgres database

## Question 3. Count records 

How many taxi trips were totally made on September 18th 2019?

Tip: started and finished on 2019-09-18. 

Remember that `lpep_pickup_datetime` and `lpep_dropoff_datetime` columns are in the format timestamp (date and hour+min+sec) and not in date.

- 15767
- 15612
- 15859
- 89009

```sql
select count(*) 
from green_taxi_trips 
where lpep_pickup_datetime 
between '2019-09-18 00:00' and '2019-09-18 23:59:59'
and lpep_dropoff_datetime 
between '2019-09-18 00:00' and '2019-09-18 23:59:59'
```

In [16]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()
query = """
select count(*) 
from green_taxi_trips 
where lpep_pickup_datetime 
between '2019-09-18 00:00' and '2019-09-18 23:59:59'
and lpep_dropoff_datetime 
between '2019-09-18 00:00' and '2019-09-18 23:59:59';
"""

pd.read_sql(query, con=engine)

   count
0  15612

In [ ]:
## Question 4. Largest trip for each day

Which was the pick up day with the largest trip distance
Use the pick up time for your calculations.

- 2019-09-18
- 2019-09-16
- 2019-09-26
- 2019-09-21

In [17]:
query = """
select lpep_pickup_datetime::date, max(trip_distance)
from green_taxi_trips 
group by lpep_pickup_datetime::date
order by 2 desc
limit 1
"""

pd.read_sql(query, con=engine)

  lpep_pickup_datetime     max
0           2019-09-26  341.64

## Question 5. Three biggest pick up Boroughs

Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown

Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?
 
- "Brooklyn" "Manhattan" "Queens"
- "Bronx" "Brooklyn" "Manhattan"
- "Bronx" "Manhattan" "Queens" 
- "Brooklyn" "Queens" "Staten Island"

In [19]:
query = """
select z."Borough"
from green_taxi_trips r
join zones z on z."LocationID" = r."PULocationID"
where z."Borough" != 'Unknown'
and r.lpep_pickup_datetime::date = '2019-09-18'
group by z."Borough"
having sum(r.total_amount) > 50000
"""

pd.read_sql(query, con=engine)

     Borough
0   Brooklyn
1  Manhattan
2     Queens

## Question 6. Largest tip

For the passengers picked up in September 2019 in the zone name Astoria which was the drop off zone that had the largest tip?
We want the name of the zone, not the id.

Note: it's not a typo, it's `tip` , not `trip`

- Central Park
- Jamaica
- JFK Airport
- Long Island City/Queens Plaza

In [20]:
query = """
select dz."Zone", max(r.tip_amount)
from green_taxi_trips r
join zones pz on pz."LocationID" = r."PULocationID"
join zones dz on dz."LocationID" = r."DOLocationID"
where pz."Zone" = 'Astoria'
group by dz."Zone"
order by 2 desc
limit 1
"""

pd.read_sql(query, con=engine)

          Zone    max
0  JFK Airport  62.31